*{
    margin: 0;
    padding: 0;
}
:root {

    /* colors */
  
    --green: hsl(188, 63%, 7%);
    --blue: hsl(200, 69%, 14%);
    --black: hsl(227, 29%, 13%);
    --black2: hsl(229, 17%, 19%);
    --green: hsl(89, 72%, 45%);
    --orange: hsl(9, 100%, 62%);
    --misty-rose: hsl(7, 56%, 91%);
    --alice-blue: hsl(210, 100%, 97%);
    --cadet: hsl(200, 15%, 43%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --opal: hsl(180, 20%, 62%);
  
    /* fs */
  
    --Font1: "Nunito Sans", sans-serif;
    --Font2: "Poppins", sans-serif;

    /* Reset */

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: var(--Font1);
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--white);
  }
  