*{
    margin: 0;
    padding: 0;
}
:root {

    /* colors */
  
    --green: hsl(188, 63%, 7%);
    --blue: hsl(200, 69%, 14%);
    --black: hsl(227, 29%, 13%);
    --black2: hsl(229, 17%, 19%);
    --green: hsl(89, 72%, 45%);
    --orange: hsl(9, 100%, 62%);
    --misty-rose: hsl(7, 56%, 91%);
    --alice-blue: hsl(210, 100%, 97%);
    --cadet: hsl(200, 15%, 43%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --opal: hsl(180, 20%, 62%);

    /* fs */
  
    --Font1: "Nunito Sans", sans-serif;
    --Font2: "Poppins", sans-serif;
}
    /* Reset */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    font-family: var(--Font1);
    scroll-behavior: smooth;
  }
  
body {
    background: var(--white);
    height: 2000px;
  }

.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  height: 50px;
  align-items: center;
}
.container a {
    color: var(--white);
    text-decoration: none;
    font-weight: 900;
}
.container a:hover {
  color: var(--orange);
}
ion-icon {
  color: var(--orange);
}
.header-top-heading {
  display: flex;
  margin-right: 200px;
    color: var(--white);
}
.header-top-link {
  display: flex;
  padding-left: 100px;
}

.header-top-list{
  display: flex;
}

.header-top-social-list {
  display: flex;
}

li {
  list-style-type: none;
}

.wrapper {
  margin-right: 300px;
}
/* Main navbar starts */
.header-rest {
  height: 100px;
  background-color: var(--black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.header-rest ul, .header-rest li,.header-rest a {
  display: flex;
  color: var(--white);
  text-decoration: none;
  padding-left: 20px;
  font-weight: 900;
}
.header-rest a:hover {
  color: var(--orange);
}
.header_logo_cap {
  font-size: 25px;
  color: white;
  font-weight: 900; 
  position: absolute;
  top: 80px;
}

.header_btn {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-family: var(--Font1);
  background-color: var(--orange);
  color: var(--black2);
  margin-right: 100px;
  transition: all;
  transition-delay: 0.1s;
}

.header_btn:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}
